.range {
    margin-bottom: 10px;
}

main {
    display: flex;
}

#selectedColor {
    width: 300px;
    height: 150px;
    border-radius: 6px;
    border-color: 1px solid #ededed;
    background: #fff;
    margin-left: 30px;
}
